<header>
<nav class="nav" id="main-nav">
  <div class="nav-inner">
    <a href="/" class="nav-logo">
      <img src="/images/logo.png" alt="Logo" style="height:45px">
    </a>
    <ul class="nav-links" id="nav-links">
      <li class="nav-dropdown" id="nav-dropdown-angebot">
        <a href="/angebote">Angebot <span class="dropdown-arrow">&#9662;</span></a>
        <ul class="dropdown-menu">
          <li><a href="/service-1">Leistung 1</a></li>
          <li><a href="/service-2">Leistung 2</a></li>
          <li><a href="/service-3">Leistung 3</a></li>
        </ul>
      </li>
      <li><a href="/ueber-mich">&Uuml;ber mich</a></li>
      <li><a href="/retreat">Retreat</a></li>
      <li><a href="/preise">Preise</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/kontakt" class="btn btn-primary">Kontakt</a></li>
    </ul>
    <button class="hamburger" id="hamburger" aria-label="Men&uuml; &ouml;ffnen">
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>
</header>
